@tailwind base;
@tailwind components;
@tailwind utilities;

.input li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #d14d72;
}

/* nav a: {
  border: black;
}
nav a.active: {
  color: rgb(36, 182, 36);
  border: #d14d72;
} */
